.chatContainer {
  font-family: gg sans;
  border-radius: 3px;
  height: 214px;
  width: 577px;
}

.channelName {
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 3px 3px 0px 0px;
}

.poundSign {
  opacity: 0.5;
  font-weight: 500;
  padding-right: 5px;
}

.messages {
  height: 162px;
  margin: 0px;
  border-radius: 0px 0px 3px 3px;
  list-style-type: none;
  padding: 8px 20px;
  overflow: hidden;
}

.message {
  overflow: hidden;
  padding-bottom: 2px;
  max-height: 100px;
  transition: opacity 1s ease-in-out, max-height 0s 1s, padding-bottom 0s 1s;
}

.messageHidden {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
}

.timestamp {
  text-transform: uppercase;
  padding-right: 5px;
  opacity: 0.5;
  font-weight: 500;
  line-height: 16px;
}

.username {
  padding-right: 5px;
  font-weight: 600;
  line-height: 19px;
}

.messageText {
  padding-right: 5px;
  font-weight: 600;
  line-height: 19px;
  overflow: hidden;
  word-break: break-word;
}

.emoji {
  vertical-align: middle;
}
