@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Hachi+Maru+Pop&family=Noto+Sans+JP:wght@400;900&family=Reggae+One&family=Stick&family=Yusei+Magic&display=swap");
:root {
  --main-bgcolor: #f7f7e8;
  --main-txtcolor: #557174;
  --primary-bgcolor: #c7cfb7;
  --primary-txtcolor: #557174;
  --input-placeholder-color: #f7f7e8;
  --secondary-bgcolor: #9dad7f;
  --secondary-txtcolor:#f7f7e8;
  --error-bgcolor: #ee9595;
  --error-txtcolor: #f7f7e8;
  --black: #3E464D;
  --black-d: #1D1E25;
  --blue: #204399;
  --blue-d: #1D2B6D;
  --brown: #6E4820;
  --brown-d: #5C2514;
  --cyan: #76C6BB;
  --cyan-d: #29A0B4;
  --green: #1C7B3A;
  --green-d: #034B2D;
  --lime: #71BB41;
  --lime-d: #209F41;
  --orange: #E57918;
  --orange-d: #AB3E23;
  --pink: #CC599C;
  --pink-d: #943990;
  --purple: #5A3C94;
  --purple-d: #34286A;
  --red: #BA1B21;
  --red-d: #741837;
  --white: #D5DFEF;
  --white-d: #8090B9;
  --yellow: #EBEA60;
  --yellow-d: #BC8424;
  --tan: #9E9888;
  --tan-d: #50403D;
  --coral: #E07173;
  --coral-d: #AB415E;
  --banana: #F8F6BD;
  --banana-d: #CDB886;
  --rose: #F8D3E3;
  --rose-d: #D48DAC;
  --gray: #8094A3;
  --gray-d: #445462;
  --maroon: #692A3B;
  --maroon-d: #400D19;
}

/* === Base === */
body {
  margin: 0;
  background: var(--main-bgcolor);
  color: var(--main-txtcolor);
  font-size: 12pt;
}

#l-main-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* === Objects === */
/* 回り込み解除 */
.cl {
  clear: both;
}

/* 絵文字 */
.c-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

/* 外部リンク */
.c-blank-link a[target=_blank]:after {
  content: url("./img/target8.png");
  margin: 0px 5px;
}

/* 下吹き出し */
.p-section {
  --bgcolor: var(--main-bgcolor);
  position: relative;
  padding: 30px;
  background: var(--bgcolor);
  text-align: right;
}
.p-section.p-balloon::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: var(--bgcolor) transparent transparent;
  z-index: 1;
}

/* エラーボックス */
.p-box-error {
  background: var(--error-bgcolor);
}

/* フォーム */
input, textarea, button, select {
  width: calc(100% - 3rem);
  max-width: 100%;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.3rem;
  background: var(--primary-bgcolor);
  color: var(--primary-txtcolor);
}
input.p-form-error, textarea.p-form-error, button.p-form-error, select.p-form-error {
  border: 2px solid var(--error-bgcolor);
}

input[type=text]:focus {
  border: 2px solid var(--secondary-bgcolor);
  outline: 0;
}
input[type=text].p-input-mini {
  width: 35%;
}

button {
  background: var(--secondary-bgcolor);
  color: var(--secondary-txtcolor);
  width: auto;
}
button:focus {
  background: var(--main-txtcolor);
  border: 2px solid var(--main-txtcolor);
  outline: 0;
}

select {
  width: 81%;
}
select:focus {
  border: 2px solid var(--main-txtcolor);
  outline: 0;
}

textarea {
  width: 90%;
  height: 10rem;
}
textarea:focus {
  border: 2px solid var(--secondary-bgcolor);
  outline: 0;
}

::-moz-placeholder {
  color: var(--input-placeholder-color);
}

:-ms-input-placeholder {
  color: var(--input-placeholder-color);
}

::placeholder {
  color: var(--input-placeholder-color);
}

/* 注釈 */
.p-info {
  font-size: 0.8rem;
  text-align: left;
  padding: 0 3em;
}
.p-info a {
  color: var(--primary-bgcolor);
}

/* === header === */
h1 {
  position: relative;
  padding: 10px;
  margin: 0;
  background: var(--primary-bgcolor);
  color: var(--main-txtcolor);
  font-size: 1.2rem;
  text-align: right;
  font-weight: bold;
}

/* === contents === */
h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  text-align: left;
}
h2::before {
  content: "▼ ";
}

/* 入力フォーム */
.l-form {
  --bgcolor: var(--main-bgcolor);
  border-color: var(--primary-bgcolor);
  border-width: 0 2px 2px 2px;
  border-style: solid;
  text-align: justify;
}
.l-form_info-discord-id {
  position: relative;
  margin: 0 20px 2px 100px;
  padding: 10px;
  background: #FFF;
  border-radius: 0.5rem;
  border: solid 1px var(--main-txtcolor);
  font-size: 10pt;
}
.l-form_info-discord-id::before {
  position: absolute;
  bottom: calc(100% + 1px);
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-txtcolor);
}
.l-form_info-discord-id::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent #FFF;
}

/* 色選択フォーム */
.l-form-color {
  --bgcolor: var(--primary-bgcolor);
}
.l-form-color select {
  width: 30.6%;
  background: var(--secondary-bgcolor);
  color: var(--secondary-txtcolor);
}

#is_int_gen-css_discord-id-blue {
  background: var(--blue);
}

#is_int_gen-css_discord-id-purple {
  background: var(--purple);
}

#is_int_gen-css_discord-id-red {
  background: var(--red);
}

#is_int_gen-css_discord-id-pink {
  background: var(--pink);
}

#is_int_gen-css_discord-id-orange {
  background: var(--orange);
}

#is_int_gen-css_discord-id-yellow {
  background: var(--yellow);
  color: var(--main-txtcolor);
}

#is_int_gen-css_discord-id-lime {
  background: var(--lime);
  color: var(--main-txtcolor);
}

#is_int_gen-css_discord-id-green {
  background: var(--green);
}

#is_int_gen-css_discord-id-cyan {
  background: var(--cyan);
  color: var(--main-txtcolor);
}

#is_int_gen-css_discord-id-white {
  background: var(--white);
  color: var(--main-txtcolor);
}

#is_int_gen-css_discord-id-black {
  background: var(--black);
}

#is_int_gen-css_discord-id-brown {
  background: var(--brown);
}

#is_int_gen-css_discord-id-tan {
  background: var(--tan);
}

#is_int_gen-css_discord-id-coral {
  background: var(--coral);
}

#is_int_gen-css_discord-id-banana {
  background: var(--banana);
  color: var(--main-txtcolor);
}

#is_int_gen-css_discord-id-rose {
  background: var(--rose);
  color: var(--main-txtcolor);
}

#is_int_gen-css_discord-id-gray {
  background: var(--gray);
}

#is_int_gen-css_discord-id-maroon {
  background: var(--maroon);
}

/* 結果ゾーン */
.l-secondary-form {
  --bgcolor: var(--main-txtcolor);
  padding: 30px 30px 10px 30px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--primary-bgcolor);
  color: var(--main-bgcolor);
}

#is_obj_css-sample_output {
  width: 100%;
  height: 320px;
}

/* フッター */
h3 {
  font-size: 0.8rem;
  margin: 0 0 0 -10px;
}
h3::before {
  content: "○";
}

.l-footer-primary {
  position: relative;
  background: var(--primary-bgcolor);
  padding: 20px;
  font-size: 0.8rem;
}
.l-footer-primary a {
  color: var(--main-txtcolor);
}

.l-footer {
  text-align: right;
  margin: 5px;
  font-size: 0.8rem;
}